<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RoTwee.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ResearchWPFTwitterClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RoTwee.Properties.Settings>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="accessTokenValue" serializeAs="String">
                <value />
            </setting>
            <setting name="accessTokenSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="rotateAngle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="playingTuneTweetFormat" serializeAs="String">
                <value />
            </setting>
            <setting name="playingTuneTweetWithHashTagFormat" serializeAs="String">
                <value />
            </setting>
        </RoTwee.Properties.Settings>
        <ResearchWPFTwitterClient.Properties.Settings>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="accessTokenValue" serializeAs="String">
                <value />
            </setting>
            <setting name="accessTokenSecret" serializeAs="String">
                <value />
            </setting>
        </ResearchWPFTwitterClient.Properties.Settings>
    </userSettings>
</configuration>